#inbox-date,#inbox-search{
  color: black;
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-top: 10px;
}

#inbox-date-input,#gsearch{
    width: 170px;
    height: 28px;
    margin-left: 10px;
    background-color: #E2E8F0;
    border: 0px;
    border-radius: 4px;
    font-weight: bold;
    text-indent: 10px;
}
#gsearch{
    color:grey;
}
#inbox-search {
  color: black;
  font-size: large;
  float: right;
  margin-top: 10px;
}

.receive-list{
  margin-top: 8em;
  background-color: #FAFAFA;
  color: black;
  width: 100%;
  height: 70%;
  border-radius: 4px;
  position: relative;
  overflow-y: scroll;
}

#rightDown{
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 2%;
  /* border: 1px solid red; */
}

.showCardsNum{
    width: 40%;
    height: 40px;
    /* border: 1px solid green; */
    color: purple;
    position: relative;
}

#fetchButton{
    left: 30px;
    margin-left: 2%;
    margin-right: 6%;
}

.line{
    width: 100%;
    border:0px 0px 1px 0px;
    border-bottom: 1px solid #DEDEDE;
    border-width: thin;
    height: 20%;
    display:flex;
}
.Title{
    width: 70%;
    margin-left: 0px;
    text-align: left;
    text-indent: 30px;
    font-weight: bold;
    line-height: 60px;
    overflow:hidden;

}
.Time{
    width: 20%;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 60px;
    overflow:hidden;
    margin-left: 10px;
}
.bin{
    width:10%;
}
.bin img{
    width: 14px;
    margin-top: 30%;
    margin-left: 10%;
}
#down-right{
    /* border: 1px solid yellow; */
    display: inline-block;
    width: 60%;
    height: 100%
}
.Button{
    width:30%;
    height: 40px;
    background-color: #69426C;
    color:white;
    border: 0px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    float: right;
    margin-left: 8%;

}
.Button:hover{
    background-color: #4F3251;
}
